div {
	padding: 0 100px;
}

h1 {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 5em;
  text-align: center;
  margin: auto 0;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}

footer {
	font-family: 'Cormorant Garamond', serif;
  text-align: center;
  margin: 0 0 50px 0;
}

.node circle {
  fill: #740001;
}

.node text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1em;
}

.node--internal circle {
  fill: #740001;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #740001;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}